@tailwind base;
@tailwind components;
@tailwind utilities;


#edit:empty:before{
    content: attr(data-placeholder);
    font-style: italic;
    color: rgb(145, 145, 145);
}

/* width */
::-webkit-scrollbar {
    @apply w-3
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-lg
}

/* Handle on hover */
